/* 007D30 00CA4E CA0B00 FF2619 F6F9FF */
html {
    background: url(../images/tile.png);
}

BODY {
    background: url(../images/top.png) 0 0 repeat-x;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.div-logo {
    color: #FFF;
    background: url("../images/gradient-top.png");
    height: 64px;
}
.div-logo-shadow {
    background: url("../images/logo-shadow.png");
    height: 12px;
    
}

.header-meat {
    background-color: #FF190C;
    height: 8px;

    background: #ff190c; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff190c 41%, #770b05 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(41%,#ff190c), color-stop(100%,#770b05)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff190c 41%,#770b05 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff190c 41%,#770b05 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff190c 41%,#770b05 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff190c 41%,#770b05 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff190c', endColorstr='#770b05',GradientType=1 ); /* IE6-9 */

}

.footer {
    background-color: #010E08;
    height: 22px;
}

.classResultRows {
    text-align: center;
}