<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Cats and Foots</title>
    <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/index.css" type="text/css" rel="stylesheet"/>


    <script type="text/javascript" src="{{ STATIC_URL }}js/plates.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/coffee-script.js"></script>

    <script type="text/coffeescript" src="{{ STATIC_URL }}js/menangen.coffee"></script>

    <script type="text/coffeescript">
        window.collection = [
            {% for cat in cats_data %}
            "cat.id": {{ cat.id }}
            "cat.name": '{{ cat.name }}'
            "cat.age": {{ cat.age }}
            "cat.bill_in_day": {{ cat.bill_in_day }}
        ,   {% endfor %}
        ]
    </script>

</head>

<body onload="startup()">
    <div class="container">
        <div class="header-meat row">
            <img src="{{ STATIC_URL }}images/arrow-grad.png" style="position: absolute; top: 0px; margin: 0; padding: 0;" />
        </div>

        <div class="div-logo row" >
            <img src="{{ STATIC_URL }}images/logo.png" height="64px" />
        </div>
        <div class="div-logo-shadow row"></div>

        <div class="row" style="height: 540px;">
            <div class="span12">
                <h2>
                    Потребление кошаками
                </h2>
                <div class="row">
                    <div class="span7">

                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr style="background: #F2F5FB;">
                                <th>#</th>
                                <th>Имя</th>
                                <th>Возраст</th>
                                <th>Сумма затратов в месяц</th>
                            </tr>
                            </thead>
                            <tbody id="catsDataObject">


                            <tr class="classResultRows">
                                <td class="cat.id"></td>
                                <td class="cat.name"></td>
                                <td class="cat.age"></td>
                                <td class="cat.bill_in_day"></td>
                            </tr>


                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>




        <div class="footer"></div>
    </div>


</body>

</html>